/* ==UserStyle==
@name           vsco-tave
@namespace      github.com/northnose/tave
@version        0.0.4
@description    Changes some of the workspace.vsco.co styling back to the old tave.app.
@author         northnose
==/UserStyle== */

@-moz-document domain("workspace.vsco.co") {
    :root {
        --background-color: #fff;
        --blue: #3498db;
        --blue-dark: #2e8ece;
        --box-bg: #fff;
        --box-border-color: #e2e2e2;
        --box-divider-color: #e2e2e2;
        --box-filter-bg: #f5f5f5;
        --box-filter-border-color: #e9e9e9;
        --box-info-bg: #f9f9f9;
        --brown: #b17e56;
        --btn-border-width: 0px;
        --btn-default-bg: #fff;
        --btn-default-border-color: #ccc;
        --btn-default-color: #5e5e5e;
        --btn-default-hover-bg: #ddd;
        --btn-default-hover-border-color: #adadad;
        --btn-default-hover-color: #5e5e5e;
        --btn-primary-bg: #6749a7;
        --btn-primary-border-color: #6749a7;
        --btn-primary-color: #fff;
        --btn-primary-hover-bg: #513984;
        --btn-primary-hover-border-color: #4d367c;
        --btn-primary-hover-color: #fff;
        --btn-success-bg: #19b698;
        --btn-success-border-color: #19b698;
        --btn-success-color: #fff;
        --btn-success-hover-bg: #138973;
        --btn-success-hover-border-color: #138973;
        --btn-success-hover-color: #fff;
        --code-bg: #f9f2f4;
        --code-color: #c7254e;
        --concrete: #a3b1b2;
        --concrete-dark: #8c9899;
        --cyan: #17a2b8;
        --danger: #ea6153;
        --danger-contrast: #fff;
        --danger-rgb: 234,97,83;
        --dark: #3c3c3c;
        --dark-contrast: #f0f0f0;
        --default-font: "Source Sans 3";
        --default-font-weight: 400;
        --dots-future-bg: #eee;
        --dropdown-bg: #fff;
        --fa-font-duotone: normal 900 1em/1 "Font Awesome 6 Duotone";
        --fa-font-duotone-light: normal 300 1em/1 "Font Awesome 6 Duotone";
        --fa-font-duotone-regular: normal 400 1em/1 "Font Awesome 6 Duotone";
        --fa-font-duotone-thin: normal 100 1em/1 "Font Awesome 6 Duotone";
        --fa-font-light: normal 300 1em/1 "Font Awesome 6 Pro";
        --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Pro";
        --fa-font-sharp-duotone-light: normal 300 1em/1 "Font Awesome 6 Sharp Duotone";
        --fa-font-sharp-duotone-regular: normal 400 1em/1 "Font Awesome 6 Sharp Duotone";
        --fa-font-sharp-duotone-solid: normal 900 1em/1 "Font Awesome 6 Sharp Duotone";
        --fa-font-sharp-duotone-thin: normal 100 1em/1 "Font Awesome 6 Sharp Duotone";
        --fa-font-sharp-light: normal 300 1em/1 "Font Awesome 6 Sharp";
        --fa-font-sharp-regular: normal 400 1em/1 "Font Awesome 6 Sharp";
        --fa-font-sharp-solid: normal 900 1em/1 "Font Awesome 6 Sharp";
        --fa-font-sharp-thin: normal 100 1em/1 "Font Awesome 6 Sharp";
        --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Pro";
        --fa-font-thin: normal 100 1em/1 "Font Awesome 6 Pro";
        --fa-style-family-classic: "Font Awesome 6 Pro";
        --fa-style-family-duotone: "Font Awesome 6 Duotone";
        --fa-style-family-sharp: "Font Awesome 6 Sharp";
        --fa-style-family-sharp-duotone: "Font Awesome 6 Sharp Duotone";
        --font-family-monospace: "Inconsolata";
        --font-family-sans-serif: "Source Sans 3";
        --gray: #555;
        --gray-100: #f5f5f5;
        --gray-200: #eee;
        --gray-300: #e0e0e0;
        --gray-400: #bdbdbd;
        --gray-50: #fafafa;
        --gray-500: #9e9e9e;
        --gray-600: #757575;
        --gray-700: #616161;
        --gray-800: #424242;
        --gray-900: #212121;
        --gray-base: #000;
        --gray-dark: #333;
        --gray-darker: #222;
        --gray-light: #777;
        --gray-lighter: #eee;
        --green: #1dd2af;
        --green-dark: #19b698;
        --headline-font: "Source Sans 3";
        --headline-font-weight: 400;
        --indigo: #6610f2;
        --info: #3498db;
        --info-contrast: #fff;
        --info-rgb: 52,152,219;
        --input-bg: #fff;
        --input-border-color: #ccc;
        --input-color: #333;
        --input-disabled-bg: #eee;
        --input-disabled-color: #777;
        --input-group-addon-bg: #eee;
        --input-group-addon-border-color: #ccc;
        --lemon: #40d47e;
        --lemon-dark: #2cc36b;
        --light: #f0f0f0;
        --light-contrast: #3c3c3c;
        --link-color: #3498db;
        --link-contrast: #fff;
        --link-hover-color: #2e8ece;
        --link-rgb: 52,152,219;
        --modal-backdrop-bg: #f0f0f0cc;
        --modal-bg: #fff;
        --modal-sidebar: #f4f8fb;
        --monospace-font: "Inconsolata";
        --monospace-font-weight: 400;
        --navy: #0c648e;
        --orange: #ff9b3d;
        --page-bg: #f0f0f0;
        --page-color: #333;
        --panel-danger-border: #ebccd1;
        --panel-danger-heading-bg: #f2dede;
        --panel-danger-text: #a94442;
        --panel-default-heading-bg: #f5f5f5;
        --panel-heading-bg: #eee;
        --panel-heading-hover-bg: #ddd;
        --panel-info-border: #bce8f1;
        --panel-info-heading-bg: #d9edf7;
        --panel-info-text: #31708f;
        --pink: #ea8ac3;
        --popover-bg: #fff;
        --popover-border-color: #bdbdbd;
        --popover-title-bg: #f7f7f7;
        --popover-title-border-color: #ebebeb;
        --primary: #6749a7;
        --primary-contrast: #fff;
        --primary-rgb: 103,73,167;
        --prusia: #3d566d;
        --prusia-dark: #354b60;
        --pumpkin: #e98b39;
        --pumpkin-dark: #ec5e00;
        --purple: #6749a7;
        --purple-dark: #54388e;
        --radio-border-color: rgba(51,51,51,.25);
        --radio-checked-color: #3498db;
        --radio-disabled-bg-color: rgba(51,51,51,.5);
        --radio-hover-color: #6749a7;
        --react-international-phone-background-color: #fff;
        --react-international-phone-border-color: #ccc;
        --react-international-phone-border-radius: 0;
        --react-international-phone-dial-code-preview-text-color: #777;
        --react-international-phone-font-size: 1rem;
        --react-international-phone-height: 34px;
        --react-international-phone-text-color: #333;
        --red: #ea6153;
        --red-dark: #d14233;
        --secondary: #6c757d;
        --secondary-contrast: #fff;
        --secondary-rgb: 108,117,125;
        --sidebar-bg-100: #272930;
        --sidebar-bg-200: #1c1d22;
        --sidebar-bg-400: #101114;
        --sidebar-bg-600: #000;
        --sidebar-bg-900: #000;
        --sidebar-color: #fff;
        --silver: #fbfcfc;
        --silver-dark: #c5cbce;
        --state-active-bg: #f5f5f5;
        --state-active-dark-bg: #e8e8e8;
        --state-active-darker-bg: #dcdcdc;
        --state-danger-bg: #f2dede;
        --state-danger-dark-bg: #ebcccc;
        --state-danger-darker-bg: #e4b9b9;
        --state-info-bg: #d9edf7;
        --state-info-dark-bg: #c4e3f3;
        --state-info-darker-bg: #afd9ee;
        --state-success-bg: #dff0d8;
        --state-success-dark-bg: #d0e9c6;
        --state-success-darker-bg: #c1e2b3;
        --state-warning-bg: #fcf8e3;
        --state-warning-dark-bg: #faf2cc;
        --state-warning-darker-bg: #f7ecb5;
        --success: #1dd2af;
        --success-btn-bg: #19b698;
        --success-contrast: #fff;
        --success-rgb: 29,210,175;
        --tab-active-bg: #fff;
        --tab-active-color: #5e5e5e;
        --tab-inactive-bg: #f9f9f9;
        --tab-inactive-divider-color: #ececec;
        --tab-inactive-hover-bg: #f5f5f5;
        --table-bg: #f0f0f0;
        --table-border-color: #ddd;
        --table-header-bg: #fcfcfc;
        --table-header-border-color: #ddd;
        --table-header-color: #555;
        --table-hover-bg: #f5f5f5;
        --tave-gradient-color1: #773588;
        --tave-gradient-color2: #c4318b;
        --teal: #20c997;
        --text-color: #333;
        --text-muted: #777;
        --text-muted-rgb: 119,119,119;
        --text-rgb: 51,51,51;
        --warning: #e98b39;
        --warning-contrast: #fff;
        --warning-rgb: 233,139,57;
        --white: #fff;
        --yellow: #fed16c;
    }
    
    .btn-delete {
        color: var(--btn-primary-color);
        background-color: var(--danger);
    }

    .btn-group button.btn.btn-default,
    .btn.btn-default.new-btn,
    .btn.btn-default.add-contact,
    .btn.btn-default.quick-edit,
    #AddNote.btn.btn-default {
        --btn-default-color: white;
        --btn-default-bg: var(--green-dark);
    }
    
    /* "New Booked Job" in Sidebar -> Jobs */
    .cl-vnavigation ul li a.btn.btn-default.btn-xs {
        color: white;
        --btn-default-bg: var(--green-dark);
    }
}
